<a href="https://colab.research.google.com/github/LamaBimal/modern-data-engineering-snowflake/blob/main/Pyspark_Training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print('hello')

hello

In [3]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [4]:
import pyspark
pyspark.__version__

'4.0.1'

In [5]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [6]:
import os
os.path.isfile('/content/drive/MyDrive/PySparkTrainingData/yellow_tripdata_2025-01.parquet')

True

In [7]:
from pyspark.sql import SparkSession

In [8]:
spark = SparkSession.builder.getOrCreate()
spark

In [9]:
df = spark.read.parquet('/content/drive/MyDrive/PySparkTrainingData/yellow_tripdata_2025-01.parquet')

In [10]:
df.show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       1| 2025-01-01 00:18:38|  2025-01-01 00:26:59|              1|          1.6|         1|                 N|         229|         237|           1|       10.0|  3.5|    0.5|       3.0|         0.0|                  1.0|        18.0|                 2.5|        0.0|               0.0|
|       1| 2025-01-01 00:32:40|  2025-01-01 00:35:13|              1|          0.5|         1|                 N|         236|         237|           1|        5.1|  3.5|    0.5|      2.02|         0.0|                  1.0|       12.12|                 2.5|        0.0|               0.0|
|       1| 2025-01-01 00:44:04|  2025-01-01 00:46:01|              1|          0.6|         1|                 N|         141|         141|           1|        5.1|  3.5|    0.5|       2.0|         0.0|                  1.0|        12.1|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:14:27|  2025-01-01 00:20:01|              3|         0.52|         1|                 N|         244|         244|           2|        7.2|  1.0|    0.5|       0.0|         0.0|                  1.0|         9.7|                 0.0|        0.0|               0.0|
|       2| 2025-01-01 00:21:34|  2025-01-01 00:25:06|              3|         0.66|         1|                 N|         244|         116|           2|        5.8|  1.0|    0.5|       0.0|         0.0|                  1.0|         8.3|                 0.0|        0.0|               0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
only showing top 5 rows

In [11]:
df.count()

3475226

In [12]:
df.schema.names

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge',
 'Airport_fee',
 'cbd_congestion_fee']

In [13]:
df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)
 |-- cbd_congestion_fee: double (nullable = true)

In [14]:
df.describe(['passenger_count','total_amount']).show()

+-------+------------------+------------------+
|summary|   passenger_count|      total_amount|
+-------+------------------+------------------+
|  count|           2935077|           3475226|
|   mean|1.2978589658806226|25.611291697295062|
| stddev| 0.750750275480471| 463.6584784502283|
|    min|                 0|            -901.0|
|    max|                 9|         863380.37|
+-------+------------------+------------------+

In [15]:
df.select('passenger_count')

DataFrame[passenger_count: bigint]

In [16]:
df.select('passenger_count').show()

+---------------+
|passenger_count|
+---------------+
|              1|
|              1|
|              1|
|              3|
|              3|
|              2|
|              0|
|              0|
|              0|
|              1|
|              1|
|              1|
|              3|
|              1|
|              1|
|              3|
|              1|
|              1|
|              1|
|              2|
+---------------+
only showing top 20 rows

In [17]:
df.select('passenger_count','total_amount').show()

+---------------+------------+
|passenger_count|total_amount|
+---------------+------------+
|              1|        18.0|
|              1|       12.12|
|              1|        12.1|
|              3|         9.7|
|              3|         8.3|
|              2|        24.1|
|              0|       11.75|
|              0|        19.1|
|              0|        27.1|
|              1|        16.4|
|              1|        16.4|
|              1|       12.96|
|              3|        19.2|
|              1|        12.9|
|              1|        38.9|
|              3|        22.7|
|              1|       25.55|
|              1|       -8.54|
|              1|        12.2|
|              2|        20.6|
+---------------+------------+
only showing top 20 rows

In [18]:
df.sort('total_amount',ascending=False).show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       1| 2025-01-20 12:07:18|  2025-01-20 12:12:42|              1|          1.6|         1|                 N|         138|           8|           4|  863372.12| 6.75|    0.5|       0.0|         0.0|                  1.0|   863380.37|                 0.0|       1.75|               0.0|
|       2| 2025-01-16 12:23:14|  2025-01-17 14:41:56|              1|       255.33|         4|                 N|         161|         265|           2|     2450.9|  0.0|    0.0|       0.0|       54.06|                  1.0|     2506.71|                 0.0|        0.0|              0.75|
|       2| 2025-01-21 05:17:57|  2025-01-21 08:19:45|              1|       188.88|         4|                 N|         247|         265|           2|     1309.2|  1.0|    0.5|       0.0|         0.0|                  1.0|      1311.7|                 0.0|        0.0|               0.0|
|       2| 2025-01-15 19:14:42|  2025-01-15 21:46:13|              1|       143.54|         4|                 N|         132|         265|           1|      936.8|  2.5|    0.0|       0.0|        27.0|                  1.0|      969.05|                 0.0|       1.75|               0.0|
|       2| 2025-01-26 00:04:04|  2025-01-26 00:04:42|              4|          0.0|         5|                 N|         142|         142|           2|      950.0|  0.0|    0.0|       0.0|         0.0|                  1.0|       953.5|                 2.5|        0.0|               0.0|
|       2| 2025-01-26 00:22:47|  2025-01-26 00:22:55|              4|          0.0|         5|                 N|         226|         226|           2|      950.0|  0.0|    0.0|       0.0|         0.0|                  1.0|       951.0|                 0.0|        0.0|               0.0|
|       2| 2025-01-26 00:24:25|  2025-01-26 00:24:35|              4|          0.0|         5|                 N|         226|         226|           2|      950.0|  0.0|    0.0|       0.0|         0.0|                  1.0|       951.0|                 0.0|        0.0|               0.0|
|       2| 2025-01-26 00:00:56|  2025-01-26 00:01:06|              4|          0.0|         5|                 N|         142|         142|           2|      900.0|  0.0|    0.0|       0.0|         0.0|                  1.0|       903.5|                 2.5|        0.0|               0.0|
|       2| 2025-01-25 23:56:58|  2025-01-25 23:57:06|              4|          0.0|         5|                 N|         142|         142|           2|     899.99|  0.0|    0.0|       0.0|         0.0|                  1.0|      903.49|                 2.5|        0.0|               0.0|
|       2| 2025-01-25 23:58:50|  2025-01-25 23:59:00|              4|          0.0|         5|                 N|         142|         142|           2|     899.99|  0.0|    0.0|       0.0|         0.0|                  1.0|      903.49|                 2.5|        0.0|               0.0|
|       2| 2025-01-07 19:12:25|  2025-01-07 19:14:04|              1|          0.1|         5|                 N|         226|         226|           3|      900.0|  0.0|    0.0|       0.0|         0.0|                  1.0|       901.0|                 0.0|        0.0|               0.0|
|       1| 2025-01-13 17:19:58|  2025-01-13 20:07:08|              1|        133.3|         5|                 N|         132|         265|           1|     893.75| 1.75|    0.0|       0.0|         0.0|                  1.0|       896.5|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 23:13:43|  2025-01-02 01:47:38|              1|       132.27|         4|                 N|         132|         265|           4|      826.2|  1.0|    0.0|       0.0|       35.44|                  1.0|      865.39|                 0.0|       1.75|               0.0|
|       2| 2025-01-19 23:52:08|  2025-01-19 23:52:17|              1|          0.0|         5|                 N|         265|         265|           4|      850.0|  0.0|    0.0|       0.0|         0.0|                  1.0|       851.0|                 0.0|        0.0|               0.0|
|       2| 2025-01-26 19:25:41|  2025-01-26 19:25:56|              1|          0.0|         5|                 N|         216|         216|           1|      800.0|  0.0|    0.0|       0.0|         0.0|                  1.0|       801.0|                 0.0|        0.0|               0.0|
|       2| 2025-01-01 12:53:37|  2025-01-01 15:25:57|              1|       119.66|         4|                 N|         101|         265|           2|      773.0|  0.0|    0.5|       0.0|       20.32|                  1.0|      794.82|                 0.0|        0.0|               0.0|
|       2| 2025-01-22 15:09:41|  2025-01-22 16:55:52|              2|        83.02|         4|                 N|          48|         265|           1|      596.6|  0.0|    0.0|    122.33|       14.06|                  1.0|      734.74|                 0.0|        0.0|              0.75|
|       2| 2025-01-14 02:08:52|  2025-01-14 02:10:20|              1|         0.35|         5|                 N|         230|          48|           4|      700.0|  0.0|    0.0|       0.0|         0.0|                  1.0|      704.25|                 2.5|        0.0|              0.75|
|       2| 2025-01-16 08:02:27|  2025-01-16 08:03:02|              4|          0.0|         5|                 N|         132|         132|           4|      700.0|  0.0|    0.0|       0.0|         0.0|                  1.0|      702.75|                 0.0|       1.75|               0.0|
|       2| 2025-01-21 01:49:30|  2025-01-21 01:49:47|              1|          0.0|         5|                 N|         132|         132|           2|      700.0|  0.0|    0.0|       0.0|         0.0|                  1.0|      702.75|                 0.0|       1.75|               0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
only showing top 20 rows

In [19]:
df.sort(['total_amount','passenger_count'],ascending=[False,False]).show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       1| 2025-01-20 12:07:18|  2025-01-20 12:12:42|              1|          1.6|         1|                 N|         138|           8|           4|  863372.12| 6.75|    0.5|       0.0|         0.0|                  1.0|   863380.37|                 0.0|       1.75|               0.0|
|       2| 2025-01-16 12:23:14|  2025-01-17 14:41:56|              1|       255.33|         4|                 N|         161|         265|           2|     2450.9|  0.0|    0.0|       0.0|       54.06|                  1.0|     2506.71|                 0.0|        0.0|              0.75|
|       2| 2025-01-21 05:17:57|  2025-01-21 08:19:45|              1|       188.88|         4|                 N|         247|         265|           2|     1309.2|  1.0|    0.5|       0.0|         0.0|                  1.0|      1311.7|                 0.0|        0.0|               0.0|
|       2| 2025-01-15 19:14:42|  2025-01-15 21:46:13|              1|       143.54|         4|                 N|         132|         265|           1|      936.8|  2.5|    0.0|       0.0|        27.0|                  1.0|      969.05|                 0.0|       1.75|               0.0|
|       2| 2025-01-26 00:04:04|  2025-01-26 00:04:42|              4|          0.0|         5|                 N|         142|         142|           2|      950.0|  0.0|    0.0|       0.0|         0.0|                  1.0|       953.5|                 2.5|        0.0|               0.0|
|       2| 2025-01-26 00:22:47|  2025-01-26 00:22:55|              4|          0.0|         5|                 N|         226|         226|           2|      950.0|  0.0|    0.0|       0.0|         0.0|                  1.0|       951.0|                 0.0|        0.0|               0.0|
|       2| 2025-01-26 00:24:25|  2025-01-26 00:24:35|              4|          0.0|         5|                 N|         226|         226|           2|      950.0|  0.0|    0.0|       0.0|         0.0|                  1.0|       951.0|                 0.0|        0.0|               0.0|
|       2| 2025-01-26 00:00:56|  2025-01-26 00:01:06|              4|          0.0|         5|                 N|         142|         142|           2|      900.0|  0.0|    0.0|       0.0|         0.0|                  1.0|       903.5|                 2.5|        0.0|               0.0|
|       2| 2025-01-25 23:56:58|  2025-01-25 23:57:06|              4|          0.0|         5|                 N|         142|         142|           2|     899.99|  0.0|    0.0|       0.0|         0.0|                  1.0|      903.49|                 2.5|        0.0|               0.0|
|       2| 2025-01-25 23:58:50|  2025-01-25 23:59:00|              4|          0.0|         5|                 N|         142|         142|           2|     899.99|  0.0|    0.0|       0.0|         0.0|                  1.0|      903.49|                 2.5|        0.0|               0.0|
|       2| 2025-01-07 19:12:25|  2025-01-07 19:14:04|              1|          0.1|         5|                 N|         226|         226|           3|      900.0|  0.0|    0.0|       0.0|         0.0|                  1.0|       901.0|                 0.0|        0.0|               0.0|
|       1| 2025-01-13 17:19:58|  2025-01-13 20:07:08|              1|        133.3|         5|                 N|         132|         265|           1|     893.75| 1.75|    0.0|       0.0|         0.0|                  1.0|       896.5|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 23:13:43|  2025-01-02 01:47:38|              1|       132.27|         4|                 N|         132|         265|           4|      826.2|  1.0|    0.0|       0.0|       35.44|                  1.0|      865.39|                 0.0|       1.75|               0.0|
|       2| 2025-01-19 23:52:08|  2025-01-19 23:52:17|              1|          0.0|         5|                 N|         265|         265|           4|      850.0|  0.0|    0.0|       0.0|         0.0|                  1.0|       851.0|                 0.0|        0.0|               0.0|
|       2| 2025-01-26 19:25:41|  2025-01-26 19:25:56|              1|          0.0|         5|                 N|         216|         216|           1|      800.0|  0.0|    0.0|       0.0|         0.0|                  1.0|       801.0|                 0.0|        0.0|               0.0|
|       2| 2025-01-01 12:53:37|  2025-01-01 15:25:57|              1|       119.66|         4|                 N|         101|         265|           2|      773.0|  0.0|    0.5|       0.0|       20.32|                  1.0|      794.82|                 0.0|        0.0|               0.0|
|       2| 2025-01-22 15:09:41|  2025-01-22 16:55:52|              2|        83.02|         4|                 N|          48|         265|           1|      596.6|  0.0|    0.0|    122.33|       14.06|                  1.0|      734.74|                 0.0|        0.0|              0.75|
|       2| 2025-01-14 02:08:52|  2025-01-14 02:10:20|              1|         0.35|         5|                 N|         230|          48|           4|      700.0|  0.0|    0.0|       0.0|         0.0|                  1.0|      704.25|                 2.5|        0.0|              0.75|
|       2| 2025-01-16 08:02:27|  2025-01-16 08:03:02|              4|          0.0|         5|                 N|         132|         132|           4|      700.0|  0.0|    0.0|       0.0|         0.0|                  1.0|      702.75|                 0.0|       1.75|               0.0|
|       2| 2025-01-21 01:49:30|  2025-01-21 01:49:47|              1|          0.0|         5|                 N|         132|         132|           2|      700.0|  0.0|    0.0|       0.0|         0.0|                  1.0|      702.75|                 0.0|       1.75|               0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
only showing top 20 rows

In [20]:
df.filter('Airport_fee > 0').show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       1| 2025-01-01 00:51:41|  2025-01-01 01:06:26|              1|          7.2|         1|                 N|         132|          95|           1|       29.6| 2.75|    0.5|      6.75|         0.0|                  1.0|        40.6|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 00:55:44|  2025-01-01 01:27:41|              1|        14.84|         1|                 N|         132|          89|           1|       59.0|  1.0|    0.5|      12.3|         0.0|                  1.0|       75.55|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 00:02:20|  2025-01-01 00:15:55|              1|         4.55|         1|                 N|         138|         146|           1|       19.8|  6.0|    0.5|      8.19|         0.0|                  1.0|       37.24|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 00:08:07|  2025-01-01 00:13:06|              1|         1.61|         1|                 N|         138|         138|           2|        9.3|  6.0|    0.5|       0.0|         0.0|                  1.0|       18.55|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 00:24:51|  2025-01-01 00:42:52|              2|         8.66|         1|                 N|         138|         256|           1|       35.2|  6.0|    0.5|      4.44|         0.0|                  1.0|       48.89|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 00:11:59|  2025-01-01 00:48:37|              2|         9.17|         1|                 N|         138|         186|           1|       48.5|  6.0|    0.5|     13.09|        6.94|                  1.0|       80.28|                 2.5|       1.75|               0.0|
|       2| 2025-01-01 00:39:59|  2025-01-01 01:00:37|              1|         7.78|         1|                 N|         138|          36|           1|       33.8|  6.0|    0.5|      8.26|         0.0|                  1.0|       51.31|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 00:32:51|  2025-01-01 00:54:01|              1|         9.58|         1|                 N|         132|          77|           2|       39.4|  1.0|    0.5|       0.0|         0.0|                  1.0|       43.65|                 0.0|       1.75|               0.0|
|       1| 2025-01-01 00:03:00|  2025-01-01 00:25:10|              2|         10.4|         1|                 N|         138|         162|           1|       40.8|10.25|    0.5|       0.0|        6.94|                  1.0|       59.49|                 2.5|       1.75|               0.0|
|       2| 2025-01-01 00:09:22|  2025-01-01 00:20:00|              1|         6.09|         1|                 N|         138|         112|           2|       24.7|  6.0|    0.5|       0.0|         0.0|                  1.0|       33.95|                 0.0|       1.75|               0.0|
|       1| 2025-01-01 00:23:05|  2025-01-01 00:56:38|              1|         22.0|         1|                 N|         132|         241|           2|       80.7| 2.75|    0.5|       0.0|        6.94|                  1.0|       91.89|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 00:17:04|  2025-01-01 00:39:02|              1|         9.82|         1|                 N|         132|         122|           2|       40.1|  1.0|    0.5|       0.0|         0.0|                  1.0|       44.35|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 00:01:41|  2025-01-01 00:15:29|              1|         7.15|         1|                 N|         138|          80|           1|       29.6|  6.0|    0.5|      40.0|         0.0|                  1.0|       78.85|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 00:36:08|  2025-01-01 00:54:52|              4|        11.86|         1|                 N|         138|         241|           1|       45.0|  6.0|    0.5|      30.0|        6.94|                  1.0|       91.19|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 00:03:30|  2025-01-01 00:16:37|              3|         5.81|         1|                 N|          70|          95|           1|       24.7|  6.0|    0.5|      6.44|         0.0|                  1.0|       40.39|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 00:39:58|  2025-01-01 01:01:26|              1|         8.02|         1|                 N|         138|         112|           1|       35.2|  6.0|    0.5|      8.54|         0.0|                  1.0|       52.99|                 0.0|       1.75|               0.0|
|       1| 2025-01-01 00:24:10|  2025-01-01 00:32:36|              1|          3.2|         1|                 N|         138|           7|           1|       14.9| 7.75|    0.5|       6.0|         0.0|                  1.0|       30.15|                 0.0|       1.75|               0.0|
|       1| 2025-01-01 00:47:18|  2025-01-01 01:00:47|              2|          8.9|         1|                 N|         138|         140|           1|       34.5|10.25|    0.5|      5.32|        6.94|                  1.0|       58.51|                 2.5|       1.75|               0.0|
|       2| 2025-01-01 00:18:04|  2025-01-01 00:30:56|              1|         7.41|         1|                 N|         138|         217|           1|       30.3|  6.0|    0.5|      7.56|         0.0|                  1.0|       47.11|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 00:13:00|  2025-01-01 00:30:33|              1|         7.64|         1|                 N|         138|          36|           1|       32.4|  6.0|    0.5|       4.0|         0.0|                  1.0|       45.65|                 0.0|       1.75|               0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
only showing top 20 rows

In [21]:
df.filter('Airport_fee > 0 and passenger_count > 2').show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       2| 2025-01-01 00:36:08|  2025-01-01 00:54:52|              4|        11.86|         1|                 N|         138|         241|           1|       45.0|  6.0|    0.5|      30.0|        6.94|                  1.0|       91.19|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 00:03:30|  2025-01-01 00:16:37|              3|         5.81|         1|                 N|          70|          95|           1|       24.7|  6.0|    0.5|      6.44|         0.0|                  1.0|       40.39|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 00:54:22|  2025-01-01 01:14:51|              4|          9.3|         4|                 N|         132|         265|           1|       47.1|  1.0|    0.5|      9.92|         0.0|                  1.0|       61.27|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 00:08:31|  2025-01-01 00:46:27|              3|        27.11|         4|                 N|         132|         265|           1|      123.4|  1.0|    0.5|     13.76|        9.94|                  1.0|      151.35|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 00:07:15|  2025-01-01 00:20:37|              3|         4.33|         1|                 N|         132|          10|           1|       20.5|  1.0|    0.5|       4.6|         0.0|                  1.0|       29.35|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 00:29:35|  2025-01-01 00:38:19|              3|         3.83|         1|                 N|         138|          92|           1|       17.0|  6.0|    0.5|      6.56|         0.0|                  1.0|       32.81|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 00:36:21|  2025-01-01 01:01:12|              3|        16.86|         1|                 N|         132|         242|           1|       63.2|  1.0|    0.5|     14.53|        6.94|                  1.0|       88.92|                 0.0|       1.75|               0.0|
|       1| 2025-01-01 00:06:26|  2025-01-01 00:23:27|              3|          8.9|         1|                 N|          70|         151|           1|       35.9| 7.75|    0.5|      10.4|        6.94|                  1.0|       62.49|                 0.0|       1.75|               0.0|
|       1| 2025-01-01 00:31:01|  2025-01-01 00:39:39|              4|          2.5|         1|                 N|         138|         223|           1|       13.5| 7.75|    0.5|       3.0|         0.0|                  1.0|       25.75|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 00:12:00|  2025-01-01 00:20:12|              4|         2.35|         1|                 N|         138|         129|           1|       11.4|  6.0|    0.5|      4.72|         0.0|                  1.0|       25.37|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 00:38:24|  2025-01-01 01:04:59|              4|        18.64|         2|                 N|         132|         262|           1|       70.0|  0.0|    0.5|      10.0|        6.94|                  1.0|       92.69|                 2.5|       1.75|               0.0|
|       2| 2025-01-01 00:17:57|  2025-01-01 00:54:58|              4|        14.36|         1|                 N|         138|          68|           1|       59.7|  6.0|    0.5|       5.0|        6.94|                  1.0|       83.39|                 2.5|       1.75|               0.0|
|       2| 2025-01-01 00:06:11|  2025-01-01 00:38:05|              4|        19.59|         1|                 N|         132|          49|           1|       73.0|  1.0|    0.5|      25.0|         0.0|                  1.0|      102.25|                 0.0|       1.75|               0.0|
|       1| 2025-01-01 00:02:29|  2025-01-01 00:38:23|              3|         20.1|         2|                 N|         132|         151|           1|       70.0| 1.75|    0.5|      16.0|        6.94|                  1.0|       96.19|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 00:11:24|  2025-01-01 00:26:33|              3|         9.35|         1|                 N|         138|         248|           1|       35.9|  6.0|    0.5|     10.07|        6.94|                  1.0|       62.16|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 00:16:39|  2025-01-01 00:27:34|              3|         6.92|         1|                 N|         132|          28|           2|       27.5|  1.0|    0.5|       0.0|         0.0|                  1.0|       31.75|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 00:06:57|  2025-01-01 00:25:01|              3|          9.9|         1|                 N|         138|         243|           1|       39.4|  6.0|    0.5|     13.46|        6.94|                  1.0|       69.05|                 0.0|       1.75|               0.0|
|       1| 2025-01-01 00:17:18|  2025-01-01 00:42:14|              4|         13.0|         1|                 N|         138|         181|           1|       51.3| 7.75|    0.5|      9.08|         0.0|                  1.0|       69.63|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 00:07:58|  2025-01-01 00:30:21|              3|        10.72|         1|                 N|         132|          92|           1|       42.9|  1.0|    0.5|      0.01|         0.0|                  1.0|       47.16|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 00:07:12|  2025-01-01 00:35:24|              4|        18.63|         2|                 N|         132|         263|           2|       70.0|  0.0|    0.5|       0.0|        6.94|                  1.0|       82.69|                 2.5|       1.75|               0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
only showing top 20 rows

In [22]:
df.filter('Airport_fee > 0 and passenger_count > 2')\
.select('VendorID', 'passenger_count', 'total_amount').show()

+--------+---------------+------------+
|VendorID|passenger_count|total_amount|
+--------+---------------+------------+
|       2|              4|       91.19|
|       2|              3|       40.39|
|       2|              4|       61.27|
|       2|              3|      151.35|
|       2|              3|       29.35|
|       2|              3|       32.81|
|       2|              3|       88.92|
|       1|              3|       62.49|
|       1|              4|       25.75|
|       2|              4|       25.37|
|       2|              4|       92.69|
|       2|              4|       83.39|
|       2|              4|      102.25|
|       1|              3|       96.19|
|       2|              3|       62.16|
|       2|              3|       31.75|
|       2|              3|       69.05|
|       1|              4|       69.63|
|       2|              3|       47.16|
|       2|              4|       82.69|
+--------+---------------+------------+
only showing top 20 rows

Challenge Solution

In [23]:
df.filter('Airport_fee = 0 and passenger_count =1 ')\
.select('trip_distance','total_amount')\
.sort('trip_distance',ascending=False)\
.show()

+-------------+------------+
|trip_distance|total_amount|
+-------------+------------+
|      44730.3|        45.0|
|      44684.1|       54.94|
|      33588.9|        30.0|
|      11187.2|       61.94|
|      2001.95|       19.35|
|      1847.61|       43.37|
|      1472.37|       20.58|
|        265.9|      139.14|
|       255.33|     2506.71|
|       206.45|      243.32|
|        199.3|        19.0|
|       188.88|      1311.7|
|        181.9|       39.94|
|       150.11|      501.75|
|        148.3|      549.91|
|       122.77|        64.7|
|       119.66|      794.82|
|       114.25|       396.0|
|       105.24|       361.2|
|       104.21|      249.53|
+-------------+------------+
only showing top 20 rows

In [24]:
from pyspark.sql.functions import col, isnull

In [25]:
df.filter(isnull(col('fare_amount'))).count()

0

In [26]:
df.filter(isnull(col('passenger_count'))).count()

540149

In [27]:
df1 = df.fillna({'passenger_count':1})

In [28]:
df1.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       1| 2025-01-01 00:18:38|  2025-01-01 00:26:59|              1|          1.6|         1|                 N|         229|         237|           1|       10.0|  3.5|    0.5|       3.0|         0.0|                  1.0|        18.0|                 2.5|        0.0|               0.0|
|       1| 2025-01-01 00:32:40|  2025-01-01 00:35:13|              1|          0.5|         1|                 N|         236|         237|           1|        5.1|  3.5|    0.5|      2.02|         0.0|                  1.0|       12.12|                 2.5|        0.0|               0.0|
|       1| 2025-01-01 00:44:04|  2025-01-01 00:46:01|              1|          0.6|         1|                 N|         141|         141|           1|        5.1|  3.5|    0.5|       2.0|         0.0|                  1.0|        12.1|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:14:27|  2025-01-01 00:20:01|              3|         0.52|         1|                 N|         244|         244|           2|        7.2|  1.0|    0.5|       0.0|         0.0|                  1.0|         9.7|                 0.0|        0.0|               0.0|
|       2| 2025-01-01 00:21:34|  2025-01-01 00:25:06|              3|         0.66|         1|                 N|         244|         116|           2|        5.8|  1.0|    0.5|       0.0|         0.0|                  1.0|         8.3|                 0.0|        0.0|               0.0|
|       2| 2025-01-01 00:48:24|  2025-01-01 01:08:26|              2|         2.63|         1|                 N|         239|          68|           2|       19.1|  1.0|    0.5|       0.0|         0.0|                  1.0|        24.1|                 2.5|        0.0|               0.0|
|       1| 2025-01-01 00:14:47|  2025-01-01 00:16:15|              0|          0.4|         1|                 N|         170|         170|           1|        4.4|  3.5|    0.5|      2.35|         0.0|                  1.0|       11.75|                 2.5|        0.0|               0.0|
|       1| 2025-01-01 00:39:27|  2025-01-01 00:51:51|              0|          1.6|         1|                 N|         234|         148|           1|       12.1|  3.5|    0.5|       2.0|         0.0|                  1.0|        19.1|                 2.5|        0.0|               0.0|
|       1| 2025-01-01 00:53:43|  2025-01-01 01:13:23|              0|          2.8|         1|                 N|         148|         170|           1|       19.1|  3.5|    0.5|       3.0|         0.0|                  1.0|        27.1|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:00:02|  2025-01-01 00:09:36|              1|         1.71|         1|                 N|         237|         262|           2|       11.4|  1.0|    0.5|       0.0|         0.0|                  1.0|        16.4|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:20:28|  2025-01-01 00:28:04|              1|         2.29|         1|                 N|         237|          75|           2|       11.4|  1.0|    0.5|       0.0|         0.0|                  1.0|        16.4|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:33:58|  2025-01-01 00:37:23|              1|         0.56|         1|                 N|         263|         236|           1|        5.8|  1.0|    0.5|      2.16|         0.0|                  1.0|       12.96|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:42:40|  2025-01-01 00:55:38|              3|         1.99|         1|                 N|         236|         151|           2|       14.2|  1.0|    0.5|       0.0|         0.0|                  1.0|        19.2|                 2.5|        0.0|               0.0|
|       1| 2025-01-01 00:30:07|  2025-01-01 00:36:48|              1|          1.1|         1|                 N|         229|         141|           2|        7.9|  3.5|    0.5|       0.0|         0.0|                  1.0|        12.9|                 2.5|        0.0|               0.0|
|       1| 2025-01-01 00:39:55|  2025-01-01 01:13:59|              1|          3.2|         1|                 N|         141|         113|           1|       26.1|  3.5|    0.5|       7.8|         0.0|                  1.0|        38.9|                 2.5|        0.0|               0.0|
|       1| 2025-01-01 00:16:54|  2025-01-01 00:35:12|              3|          2.5|         1|                 N|         158|         170|           2|       17.7|  3.5|    0.5|       0.0|         0.0|                  1.0|        22.7|                 2.5|        0.0|               0.0|
|       1| 2025-01-01 00:43:10|  2025-01-01 01:00:03|              1|          1.9|         1|                 N|         164|         229|           1|       16.3|  3.5|    0.5|      4.25|         0.0|                  1.0|       25.55|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:01:41|  2025-01-01 00:07:14|              1|         0.71|         1|                 N|          79|         107|           2|       -7.2| -1.0|   -0.5|      3.66|         0.0|                 -1.0|       -8.54|                -2.5|        0.0|               0.0|
|       2| 2025-01-01 00:01:41|  2025-01-01 00:07:14|              1|         0.71|         1|                 N|          79|         107|           2|        7.2|  1.0|    0.5|       0.0|         0.0|                  1.0|        12.2|                 2.5|        0.0|               0.0|
|       1| 2025-01-01 00:33:12|  2025-01-01 00:50:14|              2|          1.2|         1|                 N|         246|          90|           1|       15.6|  3.5|    0.5|       0.0|         0.0|                  1.0|        20.6|                 2.5|        0.0|               0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
only showing top 20 rows

In [29]:
df1.filter(isnull(col('passenger_count'))).count()

0

In [30]:
from pyspark.sql.functions import unix_timestamp, round

In [31]:
df1 = df.withColumn(
    'trip_duration_minutes',
    round(
        (unix_timestamp('tpep_dropoff_datetime') - unix_timestamp('tpep_pickup_datetime'))/60,
        1
    )
)

In [32]:
df_feb = spark.read.parquet('/content/drive/MyDrive/PySparkTrainingData/yellow_tripdata_2025-02.parquet')

In [33]:
df_2025 = df.union(df_feb)

In [34]:
df_2025.count()

7052769

In [35]:
taxi_zone_lookup = spark.read.option('header','true').csv('/content/drive/MyDrive/PySparkTrainingData/taxi_zone_lookup.csv')

In [36]:
taxi_zone_lookup.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [37]:
df_joined = df_2025.join(taxi_zone_lookup,df_2025.PULocationID == taxi_zone_lookup.LocationID, 'left')
df_joined.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+----------+---------+--------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|LocationID|  Borough|                Zone|service_zone|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+----------+---------+--------------------+------------+
|       1| 2025-01-01 00:18:38|  2025-01-01 00:26:59|              1|          1.6|         1|                 N|         229|         237|           1|       10.0|  3.5|    0.5|       3.0|         0.0|                  1.0|        18.0|                 2.5|        0.0|               0.0|       229|Manhattan|Sutton Place/Turt...| Yellow Zone|
|       1| 2025-01-01 00:32:40|  2025-01-01 00:35:13|              1|          0.5|         1|                 N|         236|         237|           1|        5.1|  3.5|    0.5|      2.02|         0.0|                  1.0|       12.12|                 2.5|        0.0|               0.0|       236|Manhattan|Upper East Side N...| Yellow Zone|
|       1| 2025-01-01 00:44:04|  2025-01-01 00:46:01|              1|          0.6|         1|                 N|         141|         141|           1|        5.1|  3.5|    0.5|       2.0|         0.0|                  1.0|        12.1|                 2.5|        0.0|               0.0|       141|Manhattan|     Lenox Hill West| Yellow Zone|
|       2| 2025-01-01 00:14:27|  2025-01-01 00:20:01|              3|         0.52|         1|                 N|         244|         244|           2|        7.2|  1.0|    0.5|       0.0|         0.0|                  1.0|         9.7|                 0.0|        0.0|               0.0|       244|Manhattan|Washington Height...|   Boro Zone|
|       2| 2025-01-01 00:21:34|  2025-01-01 00:25:06|              3|         0.66|         1|                 N|         244|         116|           2|        5.8|  1.0|    0.5|       0.0|         0.0|                  1.0|         8.3|                 0.0|        0.0|               0.0|       244|Manhattan|Washington Height...|   Boro Zone|
|       2| 2025-01-01 00:48:24|  2025-01-01 01:08:26|              2|         2.63|         1|                 N|         239|          68|           2|       19.1|  1.0|    0.5|       0.0|         0.0|                  1.0|        24.1|                 2.5|        0.0|               0.0|       239|Manhattan|Upper West Side S...| Yellow Zone|
|       1| 2025-01-01 00:14:47|  2025-01-01 00:16:15|              0|          0.4|         1|                 N|         170|         170|           1|        4.4|  3.5|    0.5|      2.35|         0.0|                  1.0|       11.75|                 2.5|        0.0|               0.0|       170|Manhattan|         Murray Hill| Yellow Zone|
|       1| 2025-01-01 00:39:27|  2025-01-01 00:51:51|              0|          1.6|         1|                 N|         234|         148|           1|       12.1|  3.5|    0.5|       2.0|         0.0|                  1.0|        19.1|                 2.5|        0.0|               0.0|       234|Manhattan|            Union Sq| Yellow Zone|
|       1| 2025-01-01 00:53:43|  2025-01-01 01:13:23|              0|          2.8|         1|                 N|         148|         170|           1|       19.1|  3.5|    0.5|       3.0|         0.0|                  1.0|        27.1|                 2.5|        0.0|               0.0|       148|Manhattan|     Lower East Side| Yellow Zone|
|       2| 2025-01-01 00:00:02|  2025-01-01 00:09:36|              1|         1.71|         1|                 N|         237|         262|           2|       11.4|  1.0|    0.5|       0.0|         0.0|                  1.0|        16.4|                 2.5|        0.0|               0.0|       237|Manhattan|Upper East Side S...| Yellow Zone|
|       2| 2025-01-01 00:20:28|  2025-01-01 00:28:04|              1|         2.29|         1|                 N|         237|          75|           2|       11.4|  1.0|    0.5|       0.0|         0.0|                  1.0|        16.4|                 2.5|        0.0|               0.0|       237|Manhattan|Upper East Side S...| Yellow Zone|
|       2| 2025-01-01 00:33:58|  2025-01-01 00:37:23|              1|         0.56|         1|                 N|         263|         236|           1|        5.8|  1.0|    0.5|      2.16|         0.0|                  1.0|       12.96|                 2.5|        0.0|               0.0|       263|Manhattan|      Yorkville West| Yellow Zone|
|       2| 2025-01-01 00:42:40|  2025-01-01 00:55:38|              3|         1.99|         1|                 N|         236|         151|           2|       14.2|  1.0|    0.5|       0.0|         0.0|                  1.0|        19.2|                 2.5|        0.0|               0.0|       236|Manhattan|Upper East Side N...| Yellow Zone|
|       1| 2025-01-01 00:30:07|  2025-01-01 00:36:48|              1|          1.1|         1|                 N|         229|         141|           2|        7.9|  3.5|    0.5|       0.0|         0.0|                  1.0|        12.9|                 2.5|        0.0|               0.0|       229|Manhattan|Sutton Place/Turt...| Yellow Zone|
|       1| 2025-01-01 00:39:55|  2025-01-01 01:13:59|              1|          3.2|         1|                 N|         141|         113|           1|       26.1|  3.5|    0.5|       7.8|         0.0|                  1.0|        38.9|                 2.5|        0.0|               0.0|       141|Manhattan|     Lenox Hill West| Yellow Zone|
|       1| 2025-01-01 00:16:54|  2025-01-01 00:35:12|              3|          2.5|         1|                 N|         158|         170|           2|       17.7|  3.5|    0.5|       0.0|         0.0|                  1.0|        22.7|                 2.5|        0.0|               0.0|       158|Manhattan|Meatpacking/West ...| Yellow Zone|
|       1| 2025-01-01 00:43:10|  2025-01-01 01:00:03|              1|          1.9|         1|                 N|         164|         229|           1|       16.3|  3.5|    0.5|      4.25|         0.0|                  1.0|       25.55|                 2.5|        0.0|               0.0|       164|Manhattan|       Midtown South| Yellow Zone|
|       2| 2025-01-01 00:01:41|  2025-01-01 00:07:14|              1|         0.71|         1|                 N|          79|         107|           2|       -7.2| -1.0|   -0.5|      3.66|         0.0|                 -1.0|       -8.54|                -2.5|        0.0|               0.0|        79|Manhattan|        East Village| Yellow Zone|
|       2| 2025-01-01 00:01:41|  2025-01-01 00:07:14|              1|         0.71|         1|                 N|          79|         107|           2|        7.2|  1.0|    0.5|       0.0|         0.0|                  1.0|        12.2|                 2.5|        0.0|               0.0|        79|Manhattan|        East Village| Yellow Zone|
|       1| 2025-01-01 00:33:12|  2025-01-01 00:50:14|              2|          1.2|         1|                 N|         246|          90|           1|       15.6|  3.5|    0.5|       0.0|         0.0|                  1.0|        20.6|                 2.5|        0.0|               0.0|       246|Manhattan|West Chelsea/Huds...| Yellow Zone|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+----------+---------+--------------------+------------+
only showing top 20 rows

Aggregating Functions

In [38]:
df.groupBy('payment_type').count().sort('payment_type').show()

+------------+-------+
|payment_type|  count|
+------------+-------+
|           0| 540149|
|           1|2444393|
|           2| 390429|
|           3|  23773|
|           4|  76481|
|           5|      1|
+------------+-------+

Data dictionary for taxi lookup

* 0 = Flex Fare trip
* 1 = Credit card payment
* 2 = Cash payment
* 3 = No charge
* 4 = Dispute
* 5 = Unknown
* 6 = Voided trip

In [39]:
df.groupBy('payment_type').avg('total_amount').show()

+------------+------------------+
|payment_type| avg(total_amount)|
+------------+------------------+
|           5|               0.0|
|           1|28.079206040112336|
|           3| 6.145837294409612|
|           2| 21.74035097290552|
|           4|11.573446869157074|
|           0|20.085374294870405|
+------------+------------------+

In [40]:
from pyspark.sql.functions import avg

In [41]:
df.groupBy('payment_type').agg(avg('total_amount')).show()

+------------+------------------+
|payment_type| avg(total_amount)|
+------------+------------------+
|           5|               0.0|
|           1|28.079206040112336|
|           3| 6.145837294409612|
|           2| 21.74035097290552|
|           4|11.573446869157074|
|           0|20.085374294870405|
+------------+------------------+

In [42]:
df.groupBy('payment_type').agg(avg('total_amount').alias('avg_amount')).show()

+------------+------------------+
|payment_type|        avg_amount|
+------------+------------------+
|           5|               0.0|
|           1|28.079206040112336|
|           3| 6.145837294409612|
|           2| 21.74035097290552|
|           4|11.573446869157074|
|           0|20.085374294870405|
+------------+------------------+

In [43]:
avg_fare = df.groupBy('payment_type').agg(avg('total_amount')).sort('payment_type')

In [44]:
avg_fare.write.csv('/content/drive/MyDrive/PySparkTrainingData/avg_fare',header=True, mode='overwrite')

Challenge Solution: Essential PySpark data manipulation

In [46]:
# Step 1: Load data to dataframe

df_jan_2025 = spark.read.parquet('/content/drive/MyDrive/PySparkTrainingData/yellow_tripdata_2025-01.parquet')
df_feb_2025 = spark.read.parquet('/content/drive/MyDrive/PySparkTrainingData/yellow_tripdata_2025-02.parquet')

In [48]:
# Step2: Union dataframes
df_2025_combined = df_jan_2025.union(df_feb_2025)

In [50]:
# Step3: Select and rename column
df_2025_combined = df_2025_combined.\
select('tpep_pickup_datetime','tpep_dropoff_datetime',\
       'PULocationID', 'DOLocationID', 'passenger_count',\
       'fare_amount', 'Airport_fee', 'total_amount', 'payment_type').\
withColumnsRenamed({
    'tpep_pickup_datetime':'pu_datetime',\
    'tpep_dropoff_datetime':'do_datetime',\
    'PULocationID':'pu_location_id',\
    'DOLocationID':'do_location_id',\
    'Airport_fee':'airport_fee'
})

In [51]:
taxi_zones = spark.read.option('header','true')\
.csv('/content/drive/MyDrive/PySparkTrainingData/taxi_zone_lookup.csv')

In [52]:
# step 5: Join the dataframes on the location IDs to get the drop off boro:

df_2025_combined = df_2025_combined.join(taxi_zones, df_2025_combined.do_location_id == taxi_zones.LocationID, 'left')

In [54]:
#step 6: Drop and rename columns
df_2025_combined = df_2025_combined.drop('LocationID','zone','service_zone')\
.withColumnsRenamed({'Borough':'pu_boro'})

In [55]:
#Step 7: show the resulting dataframe
df_2025_combined.show()

+-------------------+-------------------+--------------+--------------+---------------+-----------+-----------+------------+------------+---------+
|        pu_datetime|        do_datetime|pu_location_id|do_location_id|passenger_count|fare_amount|airport_fee|total_amount|payment_type|  pu_boro|
+-------------------+-------------------+--------------+--------------+---------------+-----------+-----------+------------+------------+---------+
|2025-01-01 00:18:38|2025-01-01 00:26:59|           229|           237|              1|       10.0|        0.0|        18.0|           1|Manhattan|
|2025-01-01 00:32:40|2025-01-01 00:35:13|           236|           237|              1|        5.1|        0.0|       12.12|           1|Manhattan|
|2025-01-01 00:44:04|2025-01-01 00:46:01|           141|           141|              1|        5.1|        0.0|        12.1|           1|Manhattan|
|2025-01-01 00:14:27|2025-01-01 00:20:01|           244|           244|              3|        7.2|        0.0|         9.7|           2|Manhattan|
|2025-01-01 00:21:34|2025-01-01 00:25:06|           244|           116|              3|        5.8|        0.0|         8.3|           2|Manhattan|
|2025-01-01 00:48:24|2025-01-01 01:08:26|           239|            68|              2|       19.1|        0.0|        24.1|           2|Manhattan|
|2025-01-01 00:14:47|2025-01-01 00:16:15|           170|           170|              0|        4.4|        0.0|       11.75|           1|Manhattan|
|2025-01-01 00:39:27|2025-01-01 00:51:51|           234|           148|              0|       12.1|        0.0|        19.1|           1|Manhattan|
|2025-01-01 00:53:43|2025-01-01 01:13:23|           148|           170|              0|       19.1|        0.0|        27.1|           1|Manhattan|
|2025-01-01 00:00:02|2025-01-01 00:09:36|           237|           262|              1|       11.4|        0.0|        16.4|           2|Manhattan|
|2025-01-01 00:20:28|2025-01-01 00:28:04|           237|            75|              1|       11.4|        0.0|        16.4|           2|Manhattan|
|2025-01-01 00:33:58|2025-01-01 00:37:23|           263|           236|              1|        5.8|        0.0|       12.96|           1|Manhattan|
|2025-01-01 00:42:40|2025-01-01 00:55:38|           236|           151|              3|       14.2|        0.0|        19.2|           2|Manhattan|
|2025-01-01 00:30:07|2025-01-01 00:36:48|           229|           141|              1|        7.9|        0.0|        12.9|           2|Manhattan|
|2025-01-01 00:39:55|2025-01-01 01:13:59|           141|           113|              1|       26.1|        0.0|        38.9|           1|Manhattan|
|2025-01-01 00:16:54|2025-01-01 00:35:12|           158|           170|              3|       17.7|        0.0|        22.7|           2|Manhattan|
|2025-01-01 00:43:10|2025-01-01 01:00:03|           164|           229|              1|       16.3|        0.0|       25.55|           1|Manhattan|
|2025-01-01 00:01:41|2025-01-01 00:07:14|            79|           107|              1|       -7.2|        0.0|       -8.54|           2|Manhattan|
|2025-01-01 00:01:41|2025-01-01 00:07:14|            79|           107|              1|        7.2|        0.0|        12.2|           2|Manhattan|
|2025-01-01 00:33:12|2025-01-01 00:50:14|           246|            90|              2|       15.6|        0.0|        20.6|           1|Manhattan|
+-------------------+-------------------+--------------+--------------+---------------+-----------+-----------+------------+------------+---------+
only showing top 20 rows

PySpark SQL

In [56]:
taxi = spark.read.parquet('/content/drive/MyDrive/PySparkTrainingData/yellow_tripdata_2025-01.parquet')

In [57]:
taxi.createOrReplaceTempView('taxi')

In [58]:
spark.sql('SELECT * from taxi where total_amount > 50').show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       2| 2025-01-01 00:15:41|  2025-01-01 01:03:03|              4|         3.05|         1|                 N|         114|         161|           1|       37.3|  1.0|    0.5|      8.46|         0.0|                  1.0|       50.76|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:34:23|  2025-01-01 01:20:57|              1|        10.42|         1|                 N|          90|         243|           1|       56.9|  1.0|    0.5|     12.38|         0.0|                  1.0|       74.28|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:55:44|  2025-01-01 01:27:41|              1|        14.84|         1|                 N|         132|          89|           1|       59.0|  1.0|    0.5|      12.3|         0.0|                  1.0|       75.55|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 00:04:29|  2025-01-01 00:55:58|              9|        31.97|         5|                 N|         132|         265|           2|       90.0|  0.0|    0.0|       0.0|       20.32|                  1.0|      111.32|                 0.0|        0.0|               0.0|
|       1| 2025-01-01 00:44:59|  2025-01-01 01:23:14|              1|         10.9|         1|                 N|         261|          42|           1|       47.1|  3.5|    0.5|       5.0|         0.0|                  1.0|        57.1|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:11:59|  2025-01-01 00:48:37|              2|         9.17|         1|                 N|         138|         186|           1|       48.5|  6.0|    0.5|     13.09|        6.94|                  1.0|       80.28|                 2.5|       1.75|               0.0|
|       2| 2025-01-01 00:39:59|  2025-01-01 01:00:37|              1|         7.78|         1|                 N|         138|          36|           1|       33.8|  6.0|    0.5|      8.26|         0.0|                  1.0|       51.31|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 00:48:53|  2025-01-01 01:13:31|              1|        11.81|         5|                 N|          68|         265|           1|       80.0|  0.0|    0.0|       0.0|       21.38|                  1.0|      102.38|                 0.0|        0.0|               0.0|
|       2| 2025-01-01 00:32:29|  2025-01-01 01:09:35|              1|         9.79|         1|                 N|         239|          33|           1|       44.3|  1.0|    0.5|     12.32|         0.0|                  1.0|       61.62|                 2.5|        0.0|               0.0|
|       1| 2025-01-01 00:00:00|  2025-01-01 01:03:09|              1|          6.4|         1|                 Y|         211|         164|           1|       52.0|  3.5|    0.5|     17.05|         0.0|                  1.0|       74.05|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:24:04|  2025-01-01 01:09:28|              3|         5.55|         1|                 N|         238|         113|           1|       40.1|  1.0|    0.5|     11.28|         0.0|                  1.0|       56.38|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:17:24|  2025-01-01 00:56:58|              1|         4.83|         1|                 N|          48|         261|           1|       37.3|  1.0|    0.5|      8.46|         0.0|                  1.0|       50.76|                 2.5|        0.0|               0.0|
|       1| 2025-01-01 00:38:06|  2025-01-01 01:07:49|              4|          9.4|         1|                 N|          33|         149|           1|       40.8|  1.0|    0.5|      15.0|         0.0|                  1.0|        58.3|                 0.0|        0.0|               0.0|
|       1| 2025-01-01 00:03:00|  2025-01-01 00:25:10|              2|         10.4|         1|                 N|         138|         162|           1|       40.8|10.25|    0.5|       0.0|        6.94|                  1.0|       59.49|                 2.5|       1.75|               0.0|
|       2| 2025-01-01 00:07:59|  2025-01-01 00:36:49|              1|        15.18|         1|                 N|         161|         200|           1|       59.7|  1.0|    0.5|     12.94|         0.0|                  1.0|       77.64|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:52:40|  2025-01-01 01:21:14|              1|        18.57|         1|                 N|          93|          29|           1|       68.8|  1.0|    0.5|      12.0|         0.0|                  1.0|        83.3|                 0.0|        0.0|               0.0|
|       1| 2025-01-01 00:26:47|  2025-01-01 01:10:36|              1|         14.8|        99|                 N|          41|         122|           1|       47.5|  0.0|    0.5|       0.0|        6.94|                  1.0|       55.94|                 0.0|        0.0|               0.0|
|       1| 2025-01-01 00:23:05|  2025-01-01 00:56:38|              1|         22.0|         1|                 N|         132|         241|           2|       80.7| 2.75|    0.5|       0.0|        6.94|                  1.0|       91.89|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 00:26:09|  2025-01-01 00:51:09|              1|         5.69|         5|                 N|         186|         265|           1|       60.0|  0.0|    0.0|     14.88|       13.38|                  1.0|       89.26|                 0.0|        0.0|               0.0|
|       2| 2025-01-01 00:16:32|  2025-01-01 00:47:36|              2|        16.43|         2|                 N|         170|         219|           1|       70.0|  0.0|    0.5|      10.0|        6.94|                  1.0|       90.94|                 2.5|        0.0|               0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
only showing top 20 rows

In [59]:
spark.sql('SELECT * from taxi where total_amount > 50')\
.filter('passenger_count > 2')\
.select('payment_type','passenger_count','total_amount')\
.show()

+------------+---------------+------------+
|payment_type|passenger_count|total_amount|
+------------+---------------+------------+
|           1|              4|       50.76|
|           2|              9|      111.32|
|           1|              3|       56.38|
|           1|              4|        58.3|
|           1|              3|       51.55|
|           1|              4|       91.19|
|           2|              3|        59.1|
|           1|              4|       61.27|
|           3|              4|      123.44|
|           1|              3|       59.09|
|           2|              3|       192.4|
|           1|              4|       62.52|
|           1|              3|      151.35|
|           1|              3|       88.92|
|           1|              4|       100.0|
|           1|              4|      115.05|
|           2|              4|       80.94|
|           1|              3|        58.1|
|           1|              3|       62.49|
|           1|              3|       71.24|
+------------+---------------+------------+
only showing top 20 rows

In [60]:
query = """
 SELECT
    payment_type,
    passenger_count,
    total_amount
  FROM taxi
  WHERE
    total_amount > 50
    AND
    passenger_count >2
"""

spark.sql(query).show()

+------------+---------------+------------+
|payment_type|passenger_count|total_amount|
+------------+---------------+------------+
|           1|              4|       50.76|
|           2|              9|      111.32|
|           1|              3|       56.38|
|           1|              4|        58.3|
|           1|              3|       51.55|
|           1|              4|       91.19|
|           2|              3|        59.1|
|           1|              4|       61.27|
|           3|              4|      123.44|
|           1|              3|       59.09|
|           2|              3|       192.4|
|           1|              4|       62.52|
|           1|              3|      151.35|
|           1|              3|       88.92|
|           1|              4|       100.0|
|           1|              4|      115.05|
|           2|              4|       80.94|
|           1|              3|        58.1|
|           1|              3|       62.49|
|           1|              3|       71.24|
+------------+---------------+------------+
only showing top 20 rows

Challenge Solution: PySpark SQL

In [65]:
# Step 1: Load the taxi ride data and create a temporary view:

taxi_jan2025 = spark.read.parquet('/content/drive/MyDrive/PySparkTrainingData/yellow_tripdata_2025-01.parquet')
taxi_jan2025.createOrReplaceTempView('taxi_jan2025')

In [62]:
# Step 2: Load the lookup data and create a temporary view:

taxi_lookup = spark.read.option('header','true').csv('/content/drive/MyDrive/PySparkTrainingData/taxi_zone_lookup.csv')
taxi_lookup.createOrReplaceTempView('taxi_lookup')

In [68]:
# Step 3: Join the two tables using SQL and assign the result to a dataframe called joined_df:

query='''
 SELECT
  DOLocationID,
  Borough,
  total_amount
 FROM taxi_jan2025
 LEFT JOIN taxi_lookup
    ON DOLocationID = LocationID
'''
joined_df = spark.sql(query)

In [69]:
# Step 4: Group the dataframe by Borough, calculate the average total fare amount,
# Alias the average amount column, and display the result
joined_df.groupBy('Borough').agg(avg('total_amount').alias('avg_amount')).show()

+-------------+------------------+
|      Borough|        avg_amount|
+-------------+------------------+
|       Queens| 51.61163036538719|
|          EWR|123.16705659828357|
|      Unknown|25.926336005344027|
|     Brooklyn| 42.40119152829651|
|Staten Island| 88.12902995720401|
|          N/A|107.62149760052951|
|    Manhattan|22.818652849443495|
|        Bronx| 42.89454769447338|
+-------------+------------------+

Production Environment Requirements

DataSources
Distributed Storage (HDFS, S3, GCP)
Cluster Management